<div class="flex flex-col gap-2 sm:flex-row sm:flex-wrap sm:items-center">
  <a *ngIf="mostrarParametrizacion" routerLink="/parametrizacion" [ngClass]="claseEnlace()">
    <span class="rb-logo-chip !p-1">
      <ng-icon name="heroAdjustmentsHorizontal" size="18" class="h-5 w-5 object-contain" />
    </span>
    Parametrización
  </a>
  <a *ngIf="mostrarObjetivoNutricional" routerLink="/objetivo-nutricional" [ngClass]="claseEnlace()">
    <span class="rb-logo-chip !p-1">
      <ng-icon name="heroBeaker" size="18" class="h-5 w-5 object-contain" />
    </span>
    Objetivo nutricional
  </a>
  <a *ngIf="mostrarFormular" routerLink="/formular" [ngClass]="claseEnlace()">
    <span class="rb-logo-chip !p-1">
      <ng-icon name="heroDocumentText" size="18" class="h-5 w-5 object-contain" />
    </span>
    Formular
  </a>
  <a *ngIf="mostrarMisRecetas" routerLink="/mis-recetas" [ngClass]="claseEnlace()">
    <span class="rb-logo-chip !p-1">
      <ng-icon name="heroQueueList" size="18" class="h-5 w-5 object-contain" />
    </span>
    Mis recetas
  </a>
  <a *ngIf="mostrarInicio" routerLink="/usuario-home" [ngClass]="claseEnlace()">
    <span class="rb-logo-chip !p-1">
      <ng-icon name="heroHome" size="18" class="h-5 w-5 object-contain" />
    </span>
    Inicio
  </a>
  <a *ngIf="mostrarMiPerfil" routerLink="/mi-perfil" [ngClass]="claseEnlace()">
    <span class="rb-logo-chip !p-1">
      <ng-icon name="heroUsers" size="18" class="h-5 w-5 object-contain" />
    </span>
    Mi perfil
  </a>
  <a
    *ngIf="mostrarPanelTrabajo && rutaPanelTrabajo"
    [routerLink]="rutaPanelTrabajo"
    [ngClass]="claseEnlace()"
  >
    <span class="rb-logo-chip !p-1">
      <ng-icon name="heroCog6Tooth" size="18" class="h-5 w-5 object-contain" />
    </span>
    Panel de trabajo
  </a>
</div>
